.login1{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: justify;
    margin: auto;
    width: max-content;
    margin-top: 200px;
    border: 5px solid white;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 5px 5px ;

}
body{
    background-color:blueviolet;
}
h2{
    text-align: center;
}
button{
    margin-left: 60px;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    background-color: blueviolet;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pass{
    color: blueviolet;
    margin-left: 30px;
}
#accno{
    color: blueviolet;
    margin-left: 30px;
}
#input{
    border-radius: 30px;
    padding: 4px;
    width: 200px;
}
#link{
    color: blueviolet;
}
h3{
    text-align: center;
    color: rgb(5, 0, 0);
}