<div><h3>{{aim}}</h3></div>
<form action="" class="login1">
    <h2>Sign in</h2>
    <div class="input-icons">
        <i class="fa-solid fa-envelope-open" id="pas"></i>
        <input class="input-field" type="text" [placeholder]="acnt" (change)="acnoChange($event)" id="accno">
        <br><br>
        <i class="fa-solid fa-lock" id="pas"></i>
        <input class="input-field" type="password" placeholder="Password" (change)="passchange($event)" id="pass" ><i class="bi bi-eye-slash"
        id="pasi"></i>
        <br><br>
        <button type="button" (click)="login()">Sign in</button>
        <br>
        <br>
        <p>Don't have an account ? <a href="./register.html" id="link">CREATE</a></p>
    </div>
</form>
 -->